<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Creating report</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<form action="#" th:action="@{createReport}" th:object="${report}" method="post">
    <tr>
        <td>Select project</td>
        <td>
            <select th:field="*{projectName}">
                <option value="">--</option>
                <option th:each="String:${projectNames}"
                            th:value="${String}"
                            th:utext="${String}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <p>Activity: <input type="text" th:field="*{activityType}"/></p>
        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p>Time Start: <input type="text" th:field="*{timeStart}"/></p>
        <p>Time end: <input type="text" th:field="*{timeEnd}"/></p>
        <p>Effort: <input type="text" th:field="*{effort}"/></p>
    </tr>
    <p><input type="submit" value="Submit" />

</form>
</body>